<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinetreelch.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.pinetreelch.infra.modules.code.Code"></resultMap>
    
	<select id="selectList" resultMap="resultMapObj">
		select
			a. *
            , b. *
		from codeCd a
		join codeGroup b on a.codeGroup_cgSeq = b.cgSeq
        WHERE 1=1
        	
        	<choose>
        		<when test="shOption == 0">
        			 AND (
					     cdName like concat('%',#{shValue}, '%')
					     or cdEng like concat('%',#{shValue}, '%')
					     )
        		</when>
        		<when test="shOption == 1"> AND cdName like concat('%',#{shValue}, '%') </when>
        		<when test="shOption == 2"> AND cdEng like concat('%',#{shValue}, '%')</when>        		
        	</choose>
        
        ORDER BY a.cSeq DESC 
			
	</select>
	
	
	<select id = "selectOne" resultMap = "resultMapObj">
		SELECT
			a.*
		FROM codeCd a
		
		WHERE 1 = 1 
		
			AND cSeq = #{cSeq}
			
	</select>
	
	
	<select id ="selectcode" resultMap="resultMapObj" >
		SELECT
			a. cgName
			
		FROM codeGroup a
		 WHERE 1=1
	
	</select>
	
	
	<insert id = "insert"> 
		INSERT INTO codeCd(
       
        cdName
        ,useNY
        ,delNY
        ,codeGroup_cgSeq

        )
        VALUES (
			
            #{cdName}
           ,#{useNY}
           ,#{delNY}
           ,#{cgSeq}
        )
        	<selectKey resultType ="String" keyProperty = "cSeq" order ="AFTER">
        		SELECT last_insert_id()
        	</selectKey>
	</insert>
	
	 <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
			select
				a.cSeq
	            , a.cdName
	            , b.cgSeq
			from codeCd a
			join codeGroup b on a.codeGroup_cgSeq = b.cgSeq
	        WHERE 1=1
				AND a.useNY = 1
	            AND a. delNY = 0
	        ;
    </select>
    
    <!-- delete -->
	<delete id="delete">
		Delete FROM codeCd
		
		WHERE cSeq = #{cSeq}
	</delete>
	
	<!-- update -->
	<update id = "update"> 
		update 
			codeCd
		set
			cdName = #{cdName}
	        ,useNY = #{useNY}
	        ,delNY = #{delNY}
	        ,codeGroup_cgSeq = #{cgSeq}
		where 
			cSeq = 16	        
	</update>

</mapper>