<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinetreelch.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.pinetreelch.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a. *
            , b. *
		from codeCd a
		join codeGroup b on a.codeGroup_cgSeq = b.cgSeq
        WHERE 1=1
			
	</select>
	
	<select id ="selectcode" resultMap="resultMapObj" >
		SELECT
			a. cgName
			
		FROM codeGroup a
		 WHERE 1=1
	
	</select>
	
	<insert id = "insert"> 
		INSERT INTO codeCd(
       
        cdName
        ,useNY
        ,delNY
        ,codeGroup_cgSeq

        )
        VALUES (
			
            #{cdName}
           ,#{useNY}
           ,#{delNY}
           ,(select cgSeq from codeGroup where cgName = #{codeGroup_cgSeq})
        )
        	<selectKey resultType ="String" keyProperty = "cSeq" order ="AFTER">
        		SELECT last_insert_id()
        	</selectKey>
	</insert>

</mapper>