<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinetreelch.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.pinetreelch.infra.modules.member.Member"></resultMap>
	
	<sql id ="selectCommon">
		FROM
	</sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a. *
	    FROM
			infraMember a
		WHERE
			1=1
			AND delNY = 0
			
			<choose>
				<when test="shOption == 0">
					AND(
					    ifmmName like concat('%', #{shValue},'%')
					    or ifmmId like concat('%', #{shValue},'%')
					    or ifmmEmail like concat('%', #{shValue},'%')
					    )
				</when>
				
				<when test="shOption == 1"> AND ifmmName like concat('%', #{shValue},'%')</when>
				<when test="shOption == 2"> AND ifmmId like concat('%', #{shValue},'%')</when>
				<when test="shOption == 3"> AND ifmmEmail like concat('%', #{shValue},'%')</when>
			</choose>
        
	
	</select>
	
	<select id="buyResultBook" resultMap="resultMapObj">
		select
			a.buyinfoSeq
		    , a.date
		    , a.totalprice
		    , a.orderuuid
		    , a.means
		    , a.infraMember_ifmmSeq
		    , b.bookseq
		    , c.tdbkBookTitle
		    , c.tdbkSales
		from
			buy a                              
		left join buydetail b on a.buyinfoSeq = b.buy_buyinfoSeq
		left join tradBook c on b.bookseq = c.tdbkSeq
		where
			1=1
			AND infraMember_ifmmSeq = #{ifmmSeq}
            AND buyinfoSeq = #{buyinfoSeq}
	
	</select>
	
	<select id="buyResultOne" resultMap="resultMapObj">
		  select
			buyinfoSeq
		    ,date
		    ,totalprice
		    ,means
		    ,infraMember_ifmmSeq
		    ,orderuuid
		from
			buy
		where
			1=1
		    AND infraMember_ifmmSeq = #{ifmmSeq}
            AND buyinfoSeq = #{buyinfoSeq}
	</select>
	
	<select id="buyResult" resultMap="resultMapObj">
		select
			buyinfoSeq
		    ,date
		    ,totalprice
		    ,means
		    ,infraMember_ifmmSeq
		from
			buy
		where
			1=1
		    AND infraMember_ifmmSeq = #{ifmmSeq}
		order by date desc
	</select>
	
	<select id="buydetailList" resultMap="resultMapObj">
		select
			a.buyinfoSeq
		    , a.date
		    , a.totalprice
		    , a.orderuuid
		    , a.means
		    , a.infraMember_ifmmSeq
		    , b.bookseq
		    , c.tdbkBookTitle
		    , c.tdbkSales
		from
			buy a                              
		left join buydetail b on a.buyinfoSeq = b.buy_buyinfoSeq
		left join tradBook c on b.bookseq = c.tdbkSeq
		where
			1=1
			AND infraMember_ifmmSeq = #{ifmmSeq}	
	</select>
	
	<select id="selectwishlist" resultMap="resultMapObj">
		select
			a.tdwlSeq
		    , a.tradBook_tdbkSeq
		    , c.urllarge
		    , b.tdbkBookTitle
		    , b.tdbkSales
		    , a.iframMember_ifmmSeq
	    from tradWishlist a
	    left join tradBook b on b.tdbkSeq = a.tradBook_tdbkSeq
	    left join bkUploaded c on a.tradBook_tdbkSeq = c.pSeq
	    where 1=1
			AND a.iframMember_ifmmSeq = #{ifmmSeq}
	
	</select>
	
	
	<select id="selectAuthor" resultMap="resultMapObj">
		select
			a.tdbkathSeq
		    , a.tradAuthor_tdatSeq
		    , b.tdauName
		    , a.tradBook_tdbkSeq
		from
			tradBookAuthor a
		left join tradAuthor b on a.tradAuthor_tdatSeq = b.tdauSeq
		where 
			1=1
	
	</select>
	
	<select id="selectcart" resultMap="resultMapObj">
		select
			a.cartSeq
		    , a.infraMember_ifmmSeq
		    , a.tradBook_tdbkSeq
		    , b.tdbkSeq
		    , b.tdbkBookTitle
		    , b.tdbkSales
		    , c.urllarge
		from
			cart a
		left join tradBook b on a.tradBook_tdbkSeq = b.tdbkSeq
		left join bkUploaded c on a.tradBook_tdbkSeq = c.pseq
		where 
			1=1
		    AND a.infraMember_ifmmSeq = #{ifmmSeq}	
	</select>
	
	<select id="cartcheck" resultMap="resultMapObj">
		select
			cartSeq
		    ,infraMember_ifmmSeq
		    ,tradBook_tdbkSeq
		from
			cart
		where
			1=1
		    AND infraMember_ifmmSeq = #{ifmmSeq}
		    AND tradBook_tdbkSeq = #{tdbkSeq}
	</select>
	
	<insert id = "insert" > 
		
		INSERT INTO infraMember(
		
		ifmmId
		,ifmmPwd
		,ifmmName
		,ifmmEmail 
		,gender
		,ifmmDob
		,ifmmMktemailNY
		,ifmmMktappAlertNY
		,ifmmMktapppushnight
		,ifmmTel
		,ifmmtelCo
		,delNY
		)
		
		VALUES(
		
		#{ifmmId} 
		,#{ifmmPwd}
		,#{ifmmName}
		,#{ifmmEmail}
		,#{gender}
		,#{ifmmDob}
		,#{ifmmMktemailNY}
		,#{ifmmMktappAlertNY}
		,#{ifmmMktapppushnight}
		,#{ifmmTel}
		,#{ifmmtelCo}
		,0
		
		)	
			
		<selectKey resultType ="String" keyProperty = "ifmmSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
	
	
	<insert id = "insert123" > 
		
		INSERT INTO infraMember(
		
		ifmmId

		)
		
		VALUES(
		
		#{ifmmId} 

		
		)	
			
		<selectKey resultType ="String" keyProperty = "ifmmSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
	
	<insert id = "buyInsert" > 
		
		INSERT INTO buy(
		
		date
		,totalprice
		,orderuuid
		,means
		,infraMember_ifmmSeq
		)
		
		VALUES(
		
		#{modDateTime}
		, #{totalprice}
		, #{orderuuid}
		, #{means}
		, #{ifmmSeq}
		
		
		)	
			
		<selectKey resultType ="String" keyProperty = "buyinfoSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
	
	
	<insert id = "buydetailInsert" > 
		
		INSERT INTO buydetail(
		
		bookseq
		,buy_buyinfoSeq
		
		)
		
		VALUES(
		
		#{tdbkSeq}
		, #{buy_buyinfoSeq}
				
		)	
			
		<selectKey resultType ="String" keyProperty = "buydetailSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
	
	<insert id="insertUploaded">
		INSERT INTO memberUploaded (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		 
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,3
		)
	</insert>
	
	<insert id="insertwishlist">
		INSERT INTO tradWishlist (
			tradBook_tdbkSeq
			, iframMember_ifmmSeq
		 
		) values (
			#{tdbkSeq}
			,#{ifmmSeq}
		)
	</insert>
	
	<insert id="cartinsert">
		INSERT INTO cart (
			infraMember_ifmmSeq
            ,tradBook_tdbkSeq
		 
		) values (
			#{ifmmSeq}
			,#{tdbkSeq}
			
		)
	</insert>
	
	<select id = "selectOne" resultMap = "resultMapObj">
		SELECT
			a.*
		FROM infraMember a
		WHERE 1 =1 
			AND ifmmSeq = #{ifmmSeq}
	</select>
	
	
	<select id = "selectOne1" resultType = "Integer">
		SELECT
			count(*)
			
		FROM infraMember a
		WHERE 1 =1 
			AND ifmmId = #{ifmmId}
	</select>
	
	<select id = "wishlistcheck" resultMap="resultMapObj">
		select
			tdwlSeq
			,tradBook_tdbkSeq
		from 
			tradWishlist
		where
			iframMember_ifmmSeq = #{ifmmSeq}
		    AND tradBook_tdbkSeq = #{tdbkSeq}

	</select>
	
	<select id = "selectOneForLogin" resultMap="resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmId
			,a.ifmmName
			
			
		FROM infraMember a
		WHERE 1 =1 
			AND a.ifmmId = #{ifmmId}
			AND a.ifmmPwd = #{ifmmPwd}
	</select>
	
	<select id = "selectOneMember" resultMap = "resultMapObj">
		select
			*
		from
			infraMember a
		where 
			1=1
		    AND a.ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id = "kakaocheck" resultMap="resultMapObj">
		select
			ifmmSeq
		from infraMember
		where
			1=1
			AND ifmmId = #{ifmmId}			
	</select>
	
	<select id = "kakaoSelect" resultMap="resultMapObj">
		select
			ifmmSeq
			,ifmmId
			,ifmmName
		from infraMember
		where
			1=1
			AND ifmmId = #{ifmmId}			
	</select>
	
	<!-- update -->
	<update id = "update"> 
		update
			infraMember
		set
			ifmmPwd = #{ifmmPwd}
		where 
			ifmmId = #{ifmmId}
	</update>
	
	<delete id="deleteWishlist">
		Delete 
		FROM tradWishlist
			
		WHERE 
			1=1
	        AND iframMember_ifmmSeq = #{ifmmSeq}
	        AND tradBook_tdbkSeq = #{tdbkSeq}
	</delete>
	
	<delete id="cartdelete">
		delete
		from
			cart
		where
			1=1
		    AND infraMember_ifmmSeq = #{ifmmSeq}
		    AND tradBook_tdbkSeq = #{tdbkSeq}
				
	</delete>
	
	<delete id="cartdeleteAll">
		delete
		from
			cart
		where
			1=1
		    AND infraMember_ifmmSeq = #{ifmmSeq}				
	</delete>
	
	<!-- update -->
	<update id = "memberUpdate"> 
		UPDATE infraMember
		
		SET
			ifmmName =  #{ifmmName}
			, gender = #{gender}
			, ifmmId = #{ifmmId}
			, ifmmEmail = #{ifmmEmail}
			, ifmmTel = #{ifmmTel}
			, ifmmtelCo = #{ifmmtelCo}
			, ifmmMktemailNY = #{ifmmMktemailNY}
			, ifmmMktappAlertNY = #{ifmmMktappAlertNY}
			, ifmmMktapppushnight = #{ifmmMktapppushnight}
			
		WHERE ifmmSeq = #{ifmmSeq}
	</update>
	
	<!-- insert -->
	<insert id = "memberInsertForm"> 
		INSERT INTO infraMember(
       
        ifmmName
        ,gender
        ,ifmmId
		,ifmmEmail
		,ifmmTel
		,ifmmtelCo
		,ifmmMktemailNY
		,ifmmMktappAlertNY
		,ifmmMktapppushnight
		,delNY
		,useNY
        )
        
        VALUES (
			
            #{ifmmName}
            , #{gender}
           	, #{ifmmId}
           	, #{ifmmEmail}
           	, #{ifmmTel}
           	, #{ifmmtelCo}
           	, #{ifmmMktemailNY}
           	, #{ifmmMktappAlertNY}
           	, #{ifmmMktapppushnight}
           	, 0
           	, 1
        )
        	<selectKey resultType ="String" keyProperty = "ifmmSeq" order ="AFTER">
        		SELECT last_insert_id()
        	</selectKey>
	</insert>
	
	<!-- delete -->
	<delete id="goDelete">
		update infraMember
		set delNY = 1
		where ifmmSeq = #{ifmmSeq};
	</delete>
</mapper>