<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinetreelch.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.pinetreelch.infra.modules.member.Member"></resultMap>
	
	<sql id ="selectCommon">
		FROM
	</sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a. *
	    FROM
			infraMember a
		WHERE
			1=1
        ;
	
	</select>
	
	<insert id = "insert" > 
		
		INSERT INTO infraMember(
		
		ifmmId
		,ifmmName
		,ifmmEmail 
		,gender
		,ifmmDob
		,ifmmMktemailNY
		,ifmmMktappAlertNY
		,ifmmMktapppushnight
		,ifmmTel
		,ifmmtelCo
		)
		
		VALUES(
		
		#{ifmmId} 
		,#{ifmmPwd}
		,#{ifmmName}
		,#{ifmmEmail}
		,#{gender}
		,#{ifmmDob}
		,#{ifmmMktemailNY}
		,#{ifmmMktappAlertNY}
		,#{ifmmMktapppushnight}
		,#{ifmmTel}
		,#{ifmmtelCo}
		
		)	
			
		<selectKey resultType ="String" keyProperty = "ifmmSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
	
	
	<insert id = "insert123" > 
		
		INSERT INTO infraMember(
		
		ifmmId

		)
		
		VALUES(
		
		#{ifmmId} 

		
		)	
			
		<selectKey resultType ="String" keyProperty = "ifmmSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
	
	
	<insert id="insertUploaded">
		INSERT INTO memberUploaded (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		 
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,3
		)
	</insert>
	
	
	<select id = "selectOne" resultMap = "resultMapObj">
		SELECT
			a.*
		FROM infraMember a
		WHERE 1 =1 
			AND ifmmSeq = #{ifmmSeq}
	</select>
	
	
	<select id = "selectOne1" resultType = "Integer">
		SELECT
			count(*)
			
		FROM infraMember a
		WHERE 1 =1 
			AND ifmmId = #{ifmmId}
	</select>
	
	<select id = "selectOneForLogin" resultMap = "resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmId
			,a.ifmmName
			
			
		FROM infraMember a
		WHERE 1 =1 
			AND a.ifmmId = #{ifmmId}
			AND a.ifmmPwd = #{ifmmPwd}
	</select>
	
	
</mapper>