<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinetreelch.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.pinetreelch.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<!-- 쌤 코드 복사 페이징할떄 복사함 -->	
	
	

		
		<select id="selectList" resultMap="resultMapObj">
			SELECT aa.* from (
				SELECT
					a. *
					,(SELECT COUNT(aa.cSeq) FROM codeCd aa WHERE 1=1 AND aa.delNY = 0 AND aa.codeGroup_cgSeq = a.cgSeq) as total
					
				FROM codeGroup a
					
				WHERE 1=1
						
						<if test ="shUse != null and !shUse.equals('')"> AND  a.useNY = #{shUse} </if>
						
						<choose>			
							<when test="shOption == 1">AND a.cgSeq = #{shValue}</when>
							<when test="shOption == 2">AND a.cgName LIKE CONCAT('%',#{shValue},'%')</when>
							<when test="shOption == 3">AND a.cgKor LIKE CONCAT('%',#{shValue},'%')</when>
							<otherwise></otherwise>
						</choose>	
						
					ORDER BY a.cgSeq DESC limit 99999999999
					
					) aa
					
					limit #{rowNumToShow} offset #{startRnumForMysql}
		</select>
		
		
		<select id="selectOneCount" resultType="Integer">
			SELECT COUNT(*)
			FROM codeGroup a
					
			WHERE 1=1
				
				<if test ="shUse != null and !shUse.equals('')"> AND  a.useNY = #{shUse} </if>
			
				<choose>
				
					<when test="shOption == 1">AND a.cgSeq = #{shValue}</when>
					<when test="shOption == 2">AND a.cgName LIKE CONCAT('%',#{shValue},'%')</when>
					<when test="shOption == 3">AND a.cgKor LIKE CONCAT('%',#{shValue},'%')</when>
					<otherwise></otherwise>
				</choose>	
		</select>
		


	<!-- selectList 
	<select id="selectList" resultMap="resultMapObj">
	
		SELECT
		a. *
		,(SELECT COUNT(aa.cSeq) FROM codeCd aa WHERE 1=1 AND aa.delNY = 0 AND aa.codeGroup_cgSeq = a.cgSeq) as total
		
		
        FROM codeGroup a
        WHERE
        	1=1
        	

			
			<if test ="shUse != null and !shUse.equals('')"> AND  a.useNY = #{shUse} </if>
			<if test= "shValue != null"> AND a.cgName  LIKE CONCAT('%',#{shValue},'%')</if>
			
			<choose>
				<when test="shOption == 1">AND a.cgSeq = #{shValue}</when>
				<when test="shOption == 2">AND a.cgName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND a.cgKor LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>	
	</select>
	
	-->
	
	<!-- insert -->
	<insert id = "insert"> 
		INSERT INTO codeGroup(
       
        cgName
        ,cgKor
        ,useNY
		,delNY
		,startDate
        )
        
        VALUES (
			
            #{cgName}
            , #{cgKor}
           	, #{useNY}
           	, #{delNY}
           	, #{startDate}
        )
        	<selectKey resultType ="String" keyProperty = "cgSeq" order ="AFTER">
        		SELECT last_insert_id()
        	</selectKey>
	</insert>
	
	
	
	<!-- update -->
	<update id = "update"> 
		UPDATE codeGroup
		
		SET
			cgName =  #{cgName}
			, cgKor = #{cgKor}
			, useNY = #{useNY}
			, delNY = #{delNY}
			, startDate = #{startDate}
			
		WHERE cgSeq = #{cgSeq}
	</update>
	
	
	<!-- delete -->
	<delete id="delete">
		Delete FROM codeGroup
		
		WHERE cgSeq = #{cgSeq}
	</delete>
	
	
	<!-- selectOne -->
	<select id = "selectOne" resultMap = "resultMapObj">
		SELECT
			a.*
		FROM codeGroup a
		WHERE 1 =1 
			AND cgSeq = #{cgSeq}
	</select>

</mapper>